<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="flex h-screen dark:bg-gray-900">
      <app-navbar-left></app-navbar-left>
      <div class="flex flex-col flex-1 w-full">
        <app-navbar-top></app-navbar-top>
        <main class="h-full py-6">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
