<div class="container mx-auto mt-10">
  <div class="flex my-10">
    <div class="w-3/5 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h1 class="text-gray-80 font-semibold text-2xl">Shopping Cart</h1>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
      </div>
      <div *ngFor="let product of products" class="list-products">
        <div>
          <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
              <div class="flex w-2/5">
              <div class="w-24">
                <img src={{product.img}}/>
              </div>
              <div class="flex flex-col justify-center ml-4 flex-grow">
                <span class="text-gray-600 font-bold text-base text-center justify-center">
                  {{product.name}}
                </span>
              </div>
              </div>
              <div id="action" class="flex justify-center w-1/5">
              <!-- <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" /></svg> -->
              <input value={{product.quantity}} class="mx-2 text-center w-12" type="text" defaultValue="1"/>
              <!-- <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
              </svg> -->
              </div>
              <span class="text-center w-1/5 font-semibold text-sm">
                {{product.price}}
              </span>
              <span class="text-center w-1/5 font-semibold text-sm">
                {{product.price * product?.quantity}}
              </span>
          </div>
          <span (click)="deleteCart(product._id)">Remove</span>
        </div>
      </div>
      <a href="#" class="flex font-semibold text-indigo-600 text-base mt-10">
        Continue Shopping
      </a>
    </div>
    <div class="w-2/5 px-8 py-10 bg-gray-50">
      <h1 class="text-gray-80 font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <form onSubmit={handleSubmit(onSubmit)}> 
        <div class="px-4 py-4 bg-white space-y-6 sm:p-6">
          <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Address</label>
              <input type="text" placeholder="" class="py-2 px-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" />
              </div>
          </div>
          <div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Submit
            </button>
          </div>
        </div>
      </form>
      <div class="mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>{{total}}</span>
        </div>
      </div>
    </div>
  </div>
</div>